html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent; }

ul {
  list-style: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none; }

button,
input[type="submit"] {
  cursor: pointer; }

/* Clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/* Unselectable */
.unsel {
  cursor: default;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */ }

.pink {
  color: #ff66c2; }

.red {
  color: #ec5151; }

.orange {
  color: #fab54e; }

.yellow {
  color: #faed4e; }

.green {
  color: #49e46b; }

.aqua {
  color: #4bedee; }

.teal {
  color: #2dc377; }

.blue {
  color: #34b3ff; }

.indigo {
  color: #8787ff; }

.purple {
  color: #c18be2; }

.pink-hover:hover {
  color: #ff66c2; }

.red-hover:hover {
  color: #ec5151; }

.orange-hover:hover {
  color: #fab54e; }

.yellow-hover:hover {
  color: #faed4e; }

.green-hover:hover {
  color: #49e46b; }

.teal-hover:hover {
  color: #2dc377; }

.aqua-hover:hover {
  color: #4bedee; }

.blue-hover:hover {
  color: #34b3ff; }

.indigo-hover:hover {
  color: #8787ff; }

.purple-hover:hover {
  color: #c18be2; }

.main-page {
  width: 600px;
  height: 600px;
  display: block;
  margin: auto;
  margin-top: 60px;
  font-family: "Open Sans", sans-serif; }
  .main-page header {
    font-size: 40px;
    text-align: center;
    letter-spacing: .2px;
    font-family: "Francois One", sans-serif;
    color: #3e3f50; }
  .main-page footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    min-width: 600px;
    margin: auto;
    color: #b1b1bc;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8); }
    .main-page footer .footer-links {
      display: block;
      width: 360px;
      margin: auto; }
    .main-page footer .footer-left {
      display: inline-block;
      float: left;
      margin: 10px; }
      .main-page footer .footer-left a:hover {
        color: #2dc377; }
    .main-page footer .footer-right {
      display: inline-block;
      float: right;
      margin: 3px 0px; }
    .main-page footer .click-icons {
      color: #b1b1bc;
      margin: 10px; }
    .main-page footer .click-icons:hover {
      color: #8787ff; }
    .main-page footer span {
      color: #e4e4e6; }

.dots-divider {
  margin: 10px; }
  .dots-divider span {
    padding: 12px 10px;
    font-size: 12px; }

.back-to-levels {
  margin: auto;
  width: 200px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer; }

.back-to-levels:hover {
  color: #8787ff; }

.screen-holder {
  width: 600px;
  margin: 20px auto;
  color: #3e3f50; }

.screen {
  width: 400px;
  height: 400px;
  margin: auto;
  border: #e4e4e6 2px solid;
  position: relative; }

.levels-select {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start; }

.how-to {
  width: 400px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start; }
  .how-to .icon-geo-circle, .how-to .icon-geo-square {
    font-size: 16px; }
  .how-to .icon-star {
    font-size: 20px; }
  .how-to span {
    margin: 5px;
    font-size: 18px; }
  .how-to .rule {
    width: 360px;
    margin: 20px auto 10px auto;
    text-align: center; }
    .how-to .rule .make-square {
      text-align: left;
      display: inline-block; }
    .how-to .rule .description {
      margin-top: 10px; }

.play-button {
  text-align: center;
  margin: 20px; }
  .play-button button:hover {
    color: #8787ff; }

.dot-cont {
  height: 25px;
  width: 25px;
  overflow: hidden;
  position: absolute; }
  .dot-cont div {
    position: absolute;
    z-index: 4;
    text-shadow: .1px 0px 1px #d7d7d7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }

.dot-cont.dropped {
  transition: all .3s ease; }

.dot-cont.new-dot {
  opacity: 0;
  text-shadow: 1px 1px 2px black; }

.dot-cont.new-transition {
  transition: all 0.2s linear;
  background-color: white;
  opacity: 1; }

.square {
  font-size: 11.5px;
  top: 3.7px;
  left: 6.75px; }

.heart {
  font-size: 14.5px;
  top: 1.5px;
  left: 5.3px; }

.circle {
  font-size: 13px;
  top: 2.5px;
  left: 6px; }

.triangle {
  font-size: 15px;
  top: 0.7px;
  left: 5px; }

.asterisk {
  font-size: 13px;
  top: 2.5px;
  left: 6px; }

.star {
  font-size: 15px;
  top: .5px;
  left: 5px; }

.highlighted {
  background-color: black; }

.selected {
  z-index: 2; }
  .selected div {
    z-index: 3; }

.dot-holder {
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  margin: 0px; }

.score-cont {
  margin: 10px auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  transition: all .5s ease; }

/*# sourceMappingURL=application.css.map */
