@charset "UTF-8";
@font-face
{ 
    font-family: pictonic;
    src: url("../fonts/pictonic.eot");
    src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/pictonic.ttf") format("truetype"),
        url("../fonts/pictonic.woff") format("woff"),
        url("../fonts/pictonic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
 
.icon
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	-moz-osx-font-smoothing: grayscale !important; 
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a.icon, span.icon, small.icon {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
 
[class^="icon-"], [class*="icon-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a[class^="icon-"], a[class*="icon-"], span[class^="icon-"], span[class*="icon-"], small[class^="icon-"], small[class*="icon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
  
.icon-like-3:before { content:""; } 
.icon-adb-photoshop:before { content:""; } 
.icon-dbs-postgresql:before { content:""; } 
.icon-instagram:before { content:""; } 
.icon-soundcloud:before { content:""; } 
.icon-github-01:before { content:""; } 
.icon-prog-ruby:before { content:""; } 
.icon-prog-js02:before { content:""; } 
.icon-prog-rails:before { content:""; } 
.icon-geo-circle:before { content:""; } 
.icon-geo-square:before { content:""; } 
.icon-geo-triangle:before { content:""; } 
.icon-facebook:before { content:""; } 
.icon-linkedin:before { content:""; } 
.icon-mail:before { content:""; } 
.icon-youtube:before { content:""; } 
.icon-star:before { content:""; } 
.icon-plus:before { content:""; } 
.icon-asterisk:before { content:""; } 
.icon-apple:before { content:""; } 
.icon-cherry:before { content:""; } 
.icon-bananas:before { content:""; } 
.icon-sberry:before { content:""; } 
.icon-melon-slice:before { content:""; } 
.icon-lemon:before { content:""; } 
.icon-mailru:before { content:""; } 
.icon-geo-sphere:before { content:""; }